@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #403d38;
}
.container-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    box-shadow: inset 0px 0px 10px 0px #000000;
    background: #f8f7f3;
    overflow: hidden;
}
.navbar-menu {
    display: flex;
    box-sizing: border-box;
    padding-top: 0.25rem;
}

.navbar-menu .radio {
    width: 115px;
    text-align: center;
}

.navbar-menu .radio input {
    display: none;
}

.navbar-menu .radio .name {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    border: none;
    padding: .7rem 0;
    color: rgb(0, 0, 0);
    transition: all .15s ease-in-out;
}
.navbar-menu .radio .name .bx {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}
.navbar-menu .radio input:checked + .name {
    background-color: #403d38;
    box-shadow: 0px 0px 10px #000000;
    color: #f8f7f3;
}
.navbar-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}
.navbar-profile .bx{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    font-size: 25px;
    margin-right: 50px;
    margin-top: 10px;
    border: 2px #403d38 solid;
    border-radius: 50%;
}
.navbar-profile .bx:hover{
    transform: scale(105%);
}